In [192]:
import pandas as pd
import random

In [200]:
df = pd.read_csv('file-input1.csv',header=None)
df[1] = df[1].astype(str).apply(lambda x: x[:19]+'Z')
df[1] = df[1].astype(str).apply(lambda x: x.replace('T',' '))
df[9] = df[1].astype(str).apply(lambda x: x[:13]+':00:00Z')
df = df.astype(str).apply(lambda x: "'"+x+"'")
df[7] = df[7].astype(str).apply(lambda x: x[1:-1])
df[8] = df[8].astype(str).apply(lambda x: x[1:-1])
df = df.astype(str).apply(lambda x: x +",")
df[9] = df[9].astype(str).apply(lambda x: x[:-1])
df

#7230fd62-0ab8-4b0c-979e-19253c7fdf2c

,0,1,2,3,4,5,6,7,8,9
0,"'8e66dea62a914ba69e48c534c705574e',","'2019-09-12 00:00:25Z',","'http://example.com/?url=091',","'user-028',","'ER',","'Chrome',","'Mac',","501,","0.6975,",'2019-09-12 00:00:00Z'
1,"'3897a5a7115d489e9ad7ddf51d0c8c58',","'2019-09-12 00:00:51Z',","'http://example.com/?url=067',","'user-032',","'SJ',","'Firefox',","'Linux',","307,","0.3905,",'2019-09-12 00:00:00Z'
2,"'baf865e583aa45f7994b668804560f3b',","'2019-09-12 00:01:17Z',","'http://example.com/?url=040',","'user-031',","'MA',","'Firefox',","'Linux',","510,","0.5118,",'2019-09-12 00:00:00Z'
3,"'656bd941b94044a18b45197c483393e7',","'2019-09-12 00:01:43Z',","'http://example.com/?url=161',","'user-057',","'GD',","'Edge',","'Linux',","510,","0.1552,",'2019-09-12 00:00:00Z'
4,"'a4156ae1faf74acc9e0706e9c53f0d29',","'2019-09-12 00:02:09Z',","'http://example.com/?url=104',","'user-054',","'ZW',","'Edge',","'Android',","208,","0.7311,",'2019-09-12 00:00:00Z'
...,...,...,...,...,...,...,...,...,...,...
9995,"'d8ea26e4706b48f79a7eecd0f4483f9f',","'2019-09-14 23:58:16Z',","'http://example.com/?url=105',","'user-074',","'EC',","'Opera',","'windows',","507,","0.4426,",'2019-09-14 23:00:00Z'
9996,"'24b893f93f4949509b8b4ba077a9743a',","'2019-09-14 23:58:42Z',","'http://example.com/?url=104',","'user-054',","'AU',","'IE',","'windows',","226,","0.9244,",'2019-09-14 23:00:00Z'
9997,"'ea5a9675f35d46b79fa07d41986776df',","'2019-09-14 23:59:08Z',","'http://example.com/?url=090',","'user-067',","'CU',","'IE',","'Android',","511,","0.2036,",'2019-09-14 23:00:00Z'
9998,"'4dc76bdc00ee4322b326ab6b19e44972',","'2019-09-14 23:59:34Z',","'http://example.com/?url=020',","'user-024',","'ER',","'Opera',","'Android',","507,","0.705,",'2019-09-14 23:00:00Z'
9999,"'7aac76c8320347e5a33cf8b7ef86e241',","'2019-09-15 00:00:00Z',","'http://example.com/?url=008',","'user-001',","'MH',","'IE',","'windows',","301,","0.8516,",'2019-09-15 00:00:00Z'

In [206]:
row_list = [] 
for j in range(4): 
    row_list.append(random.randint(0, 50)) 

for row in row_list:
    print('INSERT INTO hw10.hw10_p2')
    print('(id, time, url, userId, country, ua_browser, ua_os, response_status, TTFB, hour)')
    print('VALUES (uuid(),',end=' ')
    for i in range(1,9+1):
        print (df.loc[ df[4].isin(["'SN'," , "'SJ',"]) ].iloc[row][i],end =' ')
    print('); ')

INSERT INTO hw10.hw10_p2
(id, time, url, userId, country, ua_browser, ua_os, response_status, TTFB, hour)
VALUES (uuid(), '2019-09-14 03:56:26Z', 'http://example.com/?url=078', 'user-079', 'SN', 'Firefox', 'Mac', 201, 0.2186, '2019-09-14 03:00:00Z' );
INSERT INTO hw10.hw10_p2
(id, time, url, userId, country, ua_browser, ua_os, response_status, TTFB, hour)
VALUES (uuid(), '2019-09-12 19:20:21Z', 'http://example.com/?url=169', 'user-018', 'SN', 'Safari', 'windows', 414, 0.2816, '2019-09-12 19:00:00Z' );
INSERT INTO hw10.hw10_p2
(id, time, url, userId, country, ua_browser, ua_os, response_status, TTFB, hour)
VALUES (uuid(), '2019-09-14 04:09:24Z', 'http://example.com/?url=042', 'user-035', 'SJ', 'Safari', 'Linux', 208, 0.5888, '2019-09-14 04:00:00Z' );
INSERT INTO hw10.hw10_p2
(id, time, url, userId, country, ua_browser, ua_os, response_status, TTFB, hour)
VALUES (uuid(), '2019-09-13 07:05:48Z', 'http://example.com/?url=133', 'user-009', 'SJ', 'Edge', 'windows', 414, 0.6039, '2019-09-13 07:00:00Z' );